footer{
    text-align:center;
}
header{
    margin-bottom:5%;
    font-family:courier;
}
header>nav{
    
    margin-top:0px;
    background-color:#C54B33;
    opacity: .8;
    position:absolute;
    top:0px;
    width:100%;
    
}
header>nav>ul{
    font-size:14px;
}
.nav-grid{

    max-width:100%;
    color:black;
    position:absolute; 
    width:100%;
    top:33px;
    max-height:100%;
    background-color:#fafafa;

}


header>nav,header>nav a{
    color:white;
}
header>nav ul {
    list-style-type:none;
    margin:0px;
    padding: 0px;
    text-align:center;

}
header>nav li {
    display:inline;
    margin-right:2%;
    cursor:pointer;
}
.nav-grid a{
    color:black;
}
body{
    background-color:#f5f5dc;
    font-family:Verdana;
    letter-spacing:1px;
    line-height:2em;
    color:#073642;    
}
body>h1:first-child{
    font-size: 20px;
    line-height:2em;
}
h1,h2,h3,h4,h5,h6{
    color:#073642;
    font-family:courier;
}

a{
    text-decoration:none;
}
img{
    max-width:100%;
}


pre>code{
    color:#d33682;
    font-size:120%;
}
blockquote{
    font-style:italic;
    margin-left:5%;
    margin-right:5%;
}

.postHeading,.postHeading>a{
    color:#073642;
    font-size:120%;
    text-decoration:none;
}

.postMeta{
    font-style:italic;
    font-size:95%;
}

.main-menu{
    
}
.sub-menu{    
    cursor:pointer;    
}

hr{
    border-color:#fdfdfd;
    width:20%;

}

.brand{
    letter-spacing:4px;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#ad_div img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#ad_div p{
    font-size:12px;
    line-height:1.5em;
}