@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Slab'), local('JosefinSlab'), url(http://themes.googleusercontent.com/static/fonts/josefinslab/v4/46aYWdgz-1oFX11flmyEfXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
header{
margin-left : 5%;
font-size:16px;
}
body{
    background-color:#f5f5dc;
    font-family:'Josefin Slab',sans-serif;
    font-size: 150%;
    line-height:2;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}
body>h1:first-child{
    font-size: 20px;
    background-color: black;
    margin-left: 50%;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 4%;
    font-family: monospace;
    padding-top: 4%;
}
body>h1:first-child>a{
    color:white
}
.post,#post{
    margin:0% 5% 5% 5%;x
}

a{
    text-decoration:none;
}
img{
    max-width:100%;
}


code{
    color:#08c;
    
}
blockquote{
    font-style:italic;
}

.postHeading,.postHeading>a{
    color:#08c;
    font-size:110%;
    text-decoration:none;
}

.postMeta{
    font-style:italic;
    font-size:85%;
}