body{
    background-color:#F5F5F5;
    font-family:monospace;
    line-height:2;
}
body>h1:first-child{
    text-align:center;
}
a{
    text-decoration:none;
}
img{
    width:100%;
}

@media screen and (min-width:600px){
    .post,#post{    
    font-size:120%;
}

}
@media screen and (min-width:1000px){
    .post,#post{

	margin : 1% 20% 0% 25%;
	font-size:110%;
    }
}

@media screen and (max-width:500px){
    .post,#post{
	font-size:110%;
    }
}

code{
    color:#08c;
    font-size:80%
}
blockquote{
    font-style:italic;
}

.postHeading,.postHeading>a{
    color:#08c;
    font-size:110%;
    text-decoration:none;
}

.postMeta{
    font-style:italic;
    font-size:85%;
}