.yellow{
    background-color:rgba(255, 230, 0, 0.5);
    padding:1%;
    font-size:larger;
    line-height:1.2em;
    
}
li{
    margin-top:5px;
}
.strong{
    font-weight:bold;
}
hr{
    border: 1px solid whitesmoke;
}
body{
    font-family:monospace;
    width:80%;

}
